html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

:root {
    --dark: #1b2022;
    --yellow: #f8fc03;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ubuntu_monobold';
    src: url('../fonts/ubuntumono-bold-webfont.woff2') format('woff2'),
        url('../fonts/ubuntumono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntu_monoregular';
    src: url('../fonts/ubuntumono-regular-webfont.woff2') format('woff2'),
        url('../fonts/ubuntumono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
    background-color: var(--dark);
    font-family: 'ubuntu_monoregular';
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.home {
    background-image: url(../images/bg.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    display: block;
    padding-top: 100px;
    margin-top: -100px;
    transition: 0.4s ease-in;
}

.menu-active {
    overflow: hidden;
    touch-action: none;
}

.menu-active .image-box,
.menu-active .about,
.menu-active .contact {
    opacity: 0.2;
    filter: blur(3px);
    transition: all 0.5s ease-in-out;
}

header {

    background-color: var(--dark);
}

header .wrapper {
    display: flex;
    align-items: center;
    height: 100px;
    z-index: 44;

}

@keyframes sticky-header {
    0% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0);
    }
}

header.sticky .wrapper {
    height: 80px;
}

/* hamburger */
header #navMenu {
    z-index: 99;
    display: none;
}

header #navMenu>span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 9999px;
    background-color: #fff;
}

header #navMenu>span:not(:last-child) {
    margin-bottom: 7px;
}

header #navMenu,
header #navMenu>span {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

header #navMenu.active {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header #navMenu.active span {
    background-color: #f8fc03;
}

header #navMenu.active>span:nth-child(2) {
    width: 0;
}

header #navMenu.active>span:nth-child(1),
header #navMenu.active>span:nth-child(3) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

header #navMenu.active>span:nth-child(1) {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
}

header #navMenu.active>span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(90deg);
    transform: translateY(-10px) rotate(90deg);
}


/* .sticky {
  padding-top: 80px;
} */
/* header.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 66;
    left: 0;
    height: 70px;
    background: #262626;
    animation: headyy 0.6s forwards;
    box-shadow: rgba(68, 68, 68, 0.2) 0px 2px 8px 0px;
} */

@keyframes headyy {
    0% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0);
    }
}

.alter-header {
    height: 80px;
}

.alter-header img.back {
    width: 20px;
    transform: rotate(90deg);
    filter: invert(1);
}

.alter-header .hamburger span.bar {
    background-color: #fff;
}

.alter-header .nav-menu .menu a {
    color: #fff;
}


.alter-header .nav-menu .menu a:hover {
    color: #f8fc03;
}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 44;
}

.nav-menu .social li {
    margin-left: 20px;
    margin-bottom: 0;
}

header .menu li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f8fc03;
    visibility: hidden;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
}

header .menu li:hover::after {
    visibility: visible;
    width: 100%;
    transform: scaleX(1);
}

.nav-menu .social li:first-child {
    margin-left: 0;
}

.menu li {
    position: relative;
    margin-left: 30px;
    padding-bottom: 6px;
}

.menu li img {
    display: none;
}

.menu li a {
    font-size: 20px;
    font-weight: 400;
    color: #ffff;
}

.menu li a:hover {
    color: #f8fc03;
}

.nav-menu .social {
    display: none;
}

.nav-menu .social li {
    padding: 10px 14px;
    border-radius: 30px;
    margin-right: -20px;
}

.nav-menu .social li a {
    color: #fff;
}

.nav-menu .social li a:hover {
    color: #262626;
}

header .logo h1 img {
    width: 50px;
}

header .logo h1 img a {
    width: 50px;
    display: block;
}

.main {
    height: calc(100vh - 100px);
    display: block;
    transition: 0.2s ease-in;
    padding-top: 200px;
}

/* .sticky .main {
    filter: blur(4px);
} */

.main-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1px;

}

.main-text h1 {
    font-size: 36px;
    color: #fff;
    display: block;
    font-weight: 500;
    line-height: 1.8em;

}

.main-text small {
    color: #f8fc03;
    font-size: 36px;

}

.update {
    padding: 100px 0;
}

.update .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update h1 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 26px;
}

.update ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    width: 70%;
    margin: 0;
}

.update ul li {
    cursor: pointer;
    width: 350px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.3s ease-in;
    position: relative;
    overflow: hidden;


}

.swiper-slide {
    filter: blur(1px);
}

.swiper-slide-active {
    filter: blur(0);
}

.update ul li:hover {
    transform: scale(1.02);
    background: #48545B;
    /* border: 1px solid #f8fc03; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.update ul li:hover img {
    transform: scale(1.03);

}

.update ul li .text-box {
    position: absolute;
    z-index: 44;
    left: 0;
    top: 100%;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    margin-left: -10px;
    background: #070707b4;
    transition: .4s ease-in-out;
    /* transform: translate(-50%, -50%); */
}

.update ul li:hover .text-box {
    top: 0;
}

.update ul li:nth-child(3n) {
    margin-right: 0;
}

.update ul li:last-child {
    margin-right: 0;
}

.update ul li .img-box {
    width: 100%;
    display: block;
    overflow: hidden;
    border-radius: 10px;

}

.update ul li img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: .5s ease;

}

.update ul li h6 {
    text-transform: uppercase;
    color: #BAC3C9;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
}

.update ul li a.more {
    padding: 10px 25px;
    background: #242A2E;
    color: #f8f8f8;
    display: flex;
    width: fit-content;
    align-items: center;
    letter-spacing: 0.5px;
    border-radius: 10px;
    transition: 0.3s ease-in;
    border: 1px solid #f8fc03;
    margin: 0 auto;
}

#services {
    padding: 80px 0;
}

#services h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 26px;
}

#services ul {
    display: flex;
    justify-content: center;
}

#services ul li {
    text-align: center;
    margin-right: 40px;
    transition: .3s ease-in-out;
}

#services ul li:hover img {
    -webkit-animation: slide-in-elliptic-top-bck 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-elliptic-top-bck 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#services ul li:hover {
    transform: scale(1.03);
}




#services ul li:last-child {
    margin-right: 0;
}

#services ul li .icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #bcbcbc;
    border-radius: 10px;
    overflow: hidden;
}

#services ul li span {
    color: #f7f7f7;
    display: block;
    margin-top: 16px;
}

#services ul li:hover .icon {
    background-color: var(--yellow);

}

#services ul li .icon img {
    width: 100%;
    display: block;
    /* filter: invert(1); */
}

@-webkit-keyframes slide-in-elliptic-top-bck {
    0% {
        -webkit-transform: translateY(-600px) rotateX(30deg) scale(6.5);
        transform: translateY(-600px) rotateX(30deg) scale(6.5);
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        opacity: 1;
    }
}

@keyframes slide-in-elliptic-top-bck {
    0% {
        -webkit-transform: translateY(-600px) rotateX(30deg) scale(6.5);
        transform: translateY(-600px) rotateX(30deg) scale(6.5);
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        opacity: 1;
    }
}




.message h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 26px;


}

.message h1 span {
    color: #f8fc03;
}

.message .content {
    text-align: center;
    margin: 100px 0;

}

.message .content h1 {
    -webkit-animation: heartbeat 2s ease-in-out infinite both;
    animation: heartbeat 2s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}





.message h1.icon a {
    font-size: 200px;
    color: #515E67;
    opacity: 30%;

}

.message .content span a {
    color: #515E67;
}

.main-text h1 span {
    font-size: 36px;
    color: #ffff;
    display: block;
    letter-spacing: 5px;
}

/*About*/

.about {
    text-align: center;

}

.about .top {
    padding: 0 50px;
    background-color: #2D3539;
    ;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.profile-info {
    text-align: left;
    margin-left: 20px;

}

.profile-info h3 {
    color: #A4AFB7;
    font-size: 26px;
    margin-bottom: 6px;
    font-weight: 500;
    line-height: 1.2em;
}

.profile-info span {
    color: #6C7D89;
    font-size: 18px;
}

.about h1 {
    color: #fff;
    text-align: center;
    margin: 40px 0;
}

h4 {
    color: #3e4347;
    font-size: 50px;
    margin-left: 100px;
}

.about h1 {
    margin-bottom: 30px;
    color: #fff;
    font-weight: 400;
}

.about .img-box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-box .content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;

}

.content-box .avatar {
    width: 120px;
    position: relative;
    z-index: 2;
}

.content-box .avatar .vector {
    width: 130%;
    right: -10px;
    display: block;
    position: absolute;
    z-index: -1;
    animation: vector 10s infinite;
}

@keyframes vector {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

.content-box img.avatar-dp {
    width: 100%;
    display: block;
    max-width: 200px;
    border-radius: 40px;

}

.about-info {
    margin-left: 20px;
    width: 100%;
    margin: 0 auto;
}

.about-info p {
    color: #BAC3C9;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}

.about-info p span {
    font-size: 20px;
}

#text {
    line-height: 50px;
    color: gray;
}

#image {
    margin-right: 100px;
}

.about .skill h1 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    color: #A4AFB7;
    letter-spacing: 1px;
}

.about .skill ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .skill ul li {
    margin-right: 20px;
    width: 30px;
}

.about .skill ul li:last-child {
    margin-right: 0;
}

.about .skill ul li img {
    width: 100%;
    display: block;
    filter: invert(1);
    opacity: 50%;
}

.education h1 {
    color: #fff;
}

.education .item h1 {
    color: #BAC3C9;
    opacity: 0.3;
}

.education .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D3539;
    width: 35%;
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.education .item p {
    color: #BAC3C9;
    margin-left: 50px;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.education .item .content {
    width: 90%;
}

.education .item .content span {
    color: #BAC3C9;
}

/*Gallery*/

.gallery h1 {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin-top: 50px;
}

.gallery p {
    text-align: center;
    font-size: 18px;
    color: #BAC3C9;
    letter-spacing: 2px;
}


.gallery-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.images-container ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.images-container ul li {
    cursor: pointer;
    width: 300px;
    height: 200px;
    margin-right: 12px;
    margin-bottom: 12px;
    overflow: hidden;
    border-radius: 2px;
}

.images-container ul li:hover img {
    transform: scale(1.03);
}

.images-container ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 2px;
    transition: .3s ease;
}

.img1 {
    height: 230px;
}

/*contactus*/

.contact {
    padding: 10px 50px;
}

.lg {
    margin-left: 900px;
}

.contact-us h1 {
    color: #fff;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
}

.contact .container {
    width: 200px;
    margin: 40px auto;
    opacity: .7;
}

.contact .container img {
    width: 100%;
    -webkit-animation: wobble-hor-bottom 3s infinite;
    animation: wobble-hor-bottom 3s infinite;
}

@-webkit-keyframes wobble-hor-bottom {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

.contact-container {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container ul {
    display: flex;
    align-items: center;
}

.contact-container ul li {
    background: #2D3539;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.contact-container ul li:last-child {
    margin-right: 0;
}

.contact-container ul li p {
    color: #BAC3C9;
    letter-spacing: 1.5px;
    margin-left: 6px;
    font-size: 16px;
}

.contact-container ul li p:last-child {
    margin-top: 0;
}

.contact-container ul li:hover img {
    transform: translateY(-8px);
}

.contact-container ul li a {
    /* display: block; */
    text-align: center;
    padding: 30px 80px;
    display: flex;
    align-items: center;
}

.contact-container ul li a img {
    width: 50px;
    margin-right: 150px;
    margin: 0 auto;
    transition: .3s ease;
}

.contact .bottom {
    justify-content: center;
    display: flex;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer ul {
    display: inline-block;
    padding: 10px;
    border-top: 2px solid #bcbcbc;
    margin-bottom: 0;
}

footer ul li {
    width: 50px;
    height: 50px;
    display: inline-block;
}

footer ul li a {
    display: block;
    color: #bcbcbc;
    text-align: center;
    padding: 10px 12px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

footer ul li a:hover {
    background: #bcbcbc;
    color: #262626;
}

footer .bottom {
    display: block;
}

footer .bottom small {
    color: #48535B;
    padding: 20px 0;
    font-size: 16px;
}

/*contact-end*/

/* pre - loader style */

#loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #1b2022;
    z-index: 999;
}

#loader.hidden {
    opacity: 0;
    visibility: hidden;
    transition: 2s ease-in;
}

#loader span {
    width: 20px;
    height: 20px;
    background: #BAC3C9;
    margin-right: 20px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    animation: loader 2s infinite;
}


#loader span:nth-child(2) {
    animation-delay: 0.5s;
}

#loader span:nth-child(3) {
    animation-delay: 0.75s;
}

#loader span:last-child {
    margin-right: 0;
    animation-delay: 1s;
}

/* pre loader end */

@keyframes loader {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@media all and (max-width: 1280px) {
    .update ul li {
        width: 38%;
        margin-bottom: 36px;
    }

    .update ul li:nth-child(2n) {
        margin-right: 0;
    }

    .update ul li:last-child {
        margin-bottom: 0;
    }

    .about-info p {
        font-size: 14px;
    }

    .info .call a {
        width: 200px;
    }
}

@media all and (max-width: 980px) {


    .main {
        padding-top: 30px;
    }

    .menu li a {
        font-size: 20px;
    }



    .content-box .avatar {
        width: 110px;
    }

    .about .top {
        width: 70%;
    }

    .education .item p {
        font-size: 16px;
    }

    .about-info p {
        font-size: 16px;
    }

    .education .item {
        width: 50%;
    }


    .main-text {
        margin-top: 100px;
    }

    .images-container ul {
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    .nav-menu ul.menu {
        flex-direction: column;
    }

    header .wrapper {
        justify-content: space-between;
    }

    header #navMenu {
        z-index: 99;
        display: block;
    }

    .update .wrapper {
        flex-direction: column;
    }

    .update h1 {
        margin-bottom: 30px;
    }

    .update ul li {
        width: 45%;
        margin-right: 0;
    }

    .update ul {
        width: 100%;
    }

    .update ul li a.more {
        font-size: 14px;
    }

    .message h1.icon a {
        font-size: 150px;
    }

    .about .top {
        width: 70%;
        margin-bottom: 20px;
    }

    .about-info {
        padding-bottom: 20px;
    }

    .about h3 {
        font-size: 22px;
    }

    .about .skill {
        width: 100%;
    }

    .about .skill ul li img {
        margin-bottom: -20px;
    }

    .images-container ul li {
        width: 230px;
        height: 160px;
    }

    .contact-container ul li a p {
        font-size: 16px;
    }

    .contact-container ul li a img {
        width: 45px;
    }

    .contact-us h1 {
        font-size: 25px;
    }

    .gallery h1 {
        font-size: 25px;
    }

    .about h1 {
        font-size: 25px;
    }


    .about-info p {
        line-height: 1.7em;
    }

    .main-text h1 {
        font-size: 36px;
    }

    .about {
        font-size: 13px;
    }

    .images img {
        width: 130px;
    }

    img.img1 {
        width: 140px;
        height: 173.33px;
    }

    .contact .bottom a img {
        width: 16x;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        bottom: 30px;
        right: 100%;
        height: 500px;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .overlay {
        display: block;
        width: 95%;
        z-index: 40;
        height: 96vh;
        position: fixed;
        bottom: 10px;
        top: 10px;
        left: -100%;
        transform: translate(-50%, 0);
        border-radius: 20px;
        transition: .3s ease;
    }

    .overlay.active {
        left: 50%;
    }

    @supports (backdrop-filter: blur(20px)) {
        .overlay {
            backdrop-filter: blur(20px);
            background: rgba(5, 5, 5, 0.477);
        }
    }

    @supports not (backdrop-filter: blur(20px)) {
        .overlay {
            background: #1d1d1d;
        }
    }

    .menu li {
        margin-left: 0;
        width: fit-content;
        margin: 0 auto;
    }

    .alter-header .overlay {
        z-index: 4;
    }

    .alter-header .nav-menu .menu a:hover {
        color: #fff;
    }

    .nav-menu.active {
        right: 0;
        visibility: visible;
        opacity: 1;
        z-index: 44;
    }

    .nav-menu ul.social {
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    header .nav-menu ul.menu li img {
        width: 50px;
        display: block;
        margin: 0 auto;
    }

    header .nav-menu ul.menu li {
        margin-bottom: 40px;
    }

    .nav-menu .social li {
        margin-right: 0;
    }

    .header .nav-menu ul.menu li a {
        color: #cccccc;
    }

    .images-container ul li:nth-child(2n) {
        margin-right: 0;
    }


}

@media all and (max-width: 640px) {
    .home {
        background-image: url(../images/bg-portrait.JPG);
        background-position: center;
    }

    .update ul li img {
        margin-bottom: 0;
    }

    .update ul li h6 {
        margin: 20px 0;
    }

    #services ul {
        flex-wrap: wrap;
    }

    #services ul li {
        width: 200px;
        margin-bottom: 50px;
    }

    #services ul li:nth-child(2n) {
        margin-right: 0;
    }

    h1 {
        font-size: 30px;
    }


    .contact-us h1 {
        font-size: 24px;
    }

    .gallery h1 {
        font-size: 24px;
    }

    .content-box .avatar {
        width: 100px;
    }

    .about h3 {
        font-size: 20px;
    }

    .profile-info span {
        font-size: 16px;
    }

    .about h1 {
        font-size: 24px;

    }

    .about .skill h1 {
        margin-bottom: 12px;
    }

    .about-info p {
        margin-bottom: 20px;
    }

    .education .item .content {
        width: 100%;
    }

    .education .item {
        width: 65%;
    }

    .contact .bottom a {
        padding: 6px 14px;
    }

    .contact-container ul {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .contact-container ul li {
        margin: 20px 0 0 0;
    }

    .update h1,
    .message h1 {
        font-size: 22px;
    }

    .update ul li {
        width: 80%;
    }

    .update ul li h6 {
        font-size: 14px;
    }

    .update ul li a.more {
        padding: 10px 12px;
    }

    .images-container ul li {
        width: 210px;
        height: 140px;
    }
}


@media all and (max-width: 480px) {
    .menu-active .menu {
        padding-bottom: 30px;
    }

    .main-text h1 span {
        font-size: 22px;
    }

    .main-text small {
        font-size: 22px;
    }

    .update {
        padding: 40px 0;
    }


    .update ul {
        flex-direction: column;
        margin-bottom: 0;
    }

    .update ul li :last-child {
        margin-bottom: 0;
    }

    .update ul li h6 {
        margin: 20px 0;
    }

    #services {
        padding-top: 0;
    }

    #services h1 {
        font-size: 22px;
        margin-bottom: 50px;
    }

    #services ul li span {
        font-size: 16px;
    }

    #services ul li {
        width: 150px;
    }

    .message h1.icon a {
        font-size: 120px;
    }

    .message .content span a {
        font-size: 12px;
    }

    .main-text h1 {
        font-size: 22px;
    }

    .about .top {
        width: 80%;
        padding: 0 20px;
    }

    .about h3 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .about-info {
        width: 100%;
    }

    .about-info p {
        font-size: 16px;
        margin-bottom: 0;
    }

    .content-box .avatar {
        width: 90px;
    }

    .img-box .content-box {
        margin: 20px auto;
    }

    .about .top {
        padding-bottom: 30px;
    }

    .about .skill h1 {
        font-size: 18px;
        margin-bottom: 24px;
    }

    .about .skill ul {
        margin-bottom: 20px;
    }

    .about .skill ul li {
        width: 26px;
    }

    .education .head h1 {
        margin-bottom: 16px;
    }

    .education .item h1 {
        font-size: 22px;
    }

    .education .item p {
        font-size: 16px;
        margin-left: 30px;
    }

    .content-box img {
        width: 20%;
    }

    .images ul li {
        width: 300px;
        margin: 0 auto;
    }


    .contact-container ul li a {
        display: block;
    }

    .contact-us h1 {
        font-size: 20px;
    }

    .gallery h1 {
        font-size: 20px;
    }

    .about h1 {
        font-size: 20px;
    }

    .contact-container ul {
        display: block;
    }

    .contact .bottom a img {
        width: 14px;
        margin-bottom: 2px;
    }

    .contact .container {
        width: 150px;
    }

    .contact-container ul li a p {
        font-size: 14px;
    }

    .images-container ul li {
        width: 170px;
        height: 120px;
    }
}

@media all and (max-width: 360px) {
    .update h1 {
        font-size: 18px;
    }

    .update ul {
        margin-top: 50px;
    }

    .update ul li h6 {
        font-size: 12px;
        margin: 10px 0;
    }

    .update ul li a.more {
        font-size: 10px;
    }

    .message h1 {
        font-size: 18px;
    }

    .message h1.icon a {
        font-size: 100px;
    }

    .message .content span a {
        font-size: 10px;
    }

    .message .content {
        margin: 50px 0;
    }

    .main-text h1 {
        font-size: 20px;
    }

    .about .top {
        width: 85%;
        padding: 0 10px;
        padding-bottom: 30px;
    }

    .about-info {
        width: 100%;
    }

    .about-info p {
        font-size: 10px;
        width: 70%;
        margin: 0 auto;
    }

    .about .skill {
        width: 50%;
        margin: 0 auto;
    }

    .education .item {
        width: 60%;
    }

    .education .item p {
        font-size: 10px;
    }

    .education .item h1 {
        font-size: 16px;
    }

    .images ul li {
        width: 120px;
    }

    .image-box {
        padding: 0 40px;
    }

    img.img {
        width: 5px;
    }

    .img1 {
        width: 10px;
        height: 200px;
    }

    .contact-us h1 {
        font-size: 20px;
    }

    .gallery h1 {
        font-size: 20px;
    }

    .about h1 {
        font-size: 20px;
    }

    footer ul li a {
        font-size: 16px;
    }
}

@media all and (max-width: 320px) {
    .update h1 {
        font-size: 16px;
    }

    .update ul li h6 {
        margin: 10px 0;
    }

    .images ul li {
        width: 100%;
    }

    .message h1 {
        font-size: 16px;
    }

    .message h1.icon a {
        font-size: 90px;
    }

    .message .content {
        margin: 50px 0;
    }

    .about {
        width: 85%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .about-info p {
        padding: 0;
        font-size: 6px;
        margin: 0 auto;
    }

    .about h3 {
        font-size: 15px;
    }

    .about .skill {
        width: 70%;
        margin: 0 auto;
    }


    .education .item p {
        font-size: 8px;
        margin-left: 20px;
    }

    .education .item .content span {
        font-size: 8px;
    }

    .education .item h1 {
        font-size: 14px;
    }

    .images ul li {
        width: 100%;
    }

    img.img {
        width: 2px;
    }

    .img1 {
        width: 3px;
        height: 200px;
    }

    .contact-us h1 {
        font-size: 18px;
    }

    .gallery h1 {
        font-size: 18px;
    }

    .images img {
        display: block;
        margin: 0 auto;
    }

    .about h1 {
        font-size: 18px;
    }

    .about-info {
        width: 90%;
    }

    .about-info p {
        width: 90%;
        font-size: 8px;
    }

    footer ul li a {
        font-size: 14px;
    }
}